
body {
    font-family: 'Arial', sans-serif; 
    background-color: #1a1b26; 
    color: #cfc9c2; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #2ac3de; 
    color: #cfc9c2; 
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

a {
    color: #73daca;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    color: #9aa5ce; 
}

footer {
    background-color: #24283b; 
    color: #c0caf5; 
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

button {
    background-color: #f7768e; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff9e64; 
}


.card {
    background-color: #414868;
    color: #cfc9c2;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card a {
    color: #b4f9f8; 
}


code {
    background-color: #24283b; 
    color: #7aa2f7; 
    padding: 2px 4px;
    border-radius: 4px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #565f89; 
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #7aa2f7;
    color: #1a1b26; 
}

tr:nth-child(even) {
    background-color: #414868; 
}
